@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3cfe2;
}
.card {
    border-radius: 25px;
    width: 450px;
    height: 580px;
    margin-top: 50vh;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.3);
    position: relative;

    &__text {
        margin: 50px;
        color: rgb(107, 107, 107);
        font-size: 20px;
        line-height: 40px;
        font-weight: 400;
        padding-bottom: 30px;
    }

    &__footer {
        width: 100%;
        height: 210px;
        background-color: #686de0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    &__image-1 {
        display: flex;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 6px white;
        position: absolute;
        left: 150px;
        top: 300px;
        box-sizing: border-box;
    }

    &__name {
        font-size: 22px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding-top: 100px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    &__url {
        font-size: 18px;
        color: #a9aadd;
        text-align: center;
        font-weight: 600;
        letter-spacing: 4px;
        line-height: 5px;
    }
}